* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/FullSizeRender.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: absolute;
    margin-top: 50px;
}

.logo {
    width: 140px;
    position: relative;
    top: -55px;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    top: -55px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(234, 153, 153);
    position: absolute;
    left: 0;
    bottom: -6px;
    transform: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
    cursor: pointer;
}

.header-text {
    margin-top: 12%;
    margin-left: -5%;
    font-size: 30px;
}

.header-text p {
    color: black;
    width: 410px;
    margin-top: 10px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 10px;
    color: black;
}

.header-text h1 span {
    color: rgb(234, 153, 153);
}

/*About Section*/
#About {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    margin-top: 870px;
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    margin-top: 870px;
    flex-basis: 60%;
}

.amtext {
    margin-top: 10px;
    font-size: 20px;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(234, 153, 153);
    position: absolute;
    left: 0;
    bottom: -8px;
    transform: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: rgb(234, 153, 153);
    font-size: 14px;
}

.sub-title span {
    color: rgb(234, 153, 153);
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*Services*/
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.services-list div {
    background: #262626;
    border-radius: 20px;
    padding: 40px;
    border-right: 10px;
    transition: 1s;
}

.services-list div ul {
    font-size: 13px;
    font-weight: 300;
    list-style: square;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div a:hover {
    text-decoration: underline;
}

.services-list div p {
    font-size: 20px;
}

.services-list div:hover {
    animation: motion 0.5s linear;
    background-color: rgb(234, 153, 153);
    transform: translateY(-10px);
}

@keyframes motion {
    0% {
        filter: blur(0px);
    }

    50% {
        filter: blur(2px);
    }

    100% {
        filter: blur(0px);
    }
}

.container:hover .dot {
    animation-name: motionblur;
    animation-duration: 0.75s;
    animation-timing-function: cubic-bezier(.71, 0, .33, 1.56);
}

/*Portfolio*/
#portfolio {
    padding: 50px 0;
}

#portfolio h1 {
    margin-left: 145px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.7s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(234, 153, 153, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 20px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.layer ul {
    font-size: 18px;
    list-style: square;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(234, 153, 153);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: rgb(234, 153, 153);
}

/*Contact*/

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: rgb(234, 153, 153);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
    letter-spacing: 15px;
}

.social-icons a {
    text-decoration: none;
    font-size: 40px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: rgb(234, 153, 153);
    transform: translateY(-5px);
}

.btn.btn2 {
    background: rgb(234, 153, 153);
    width: 180px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn.btn2:hover {
    background: rgb(146, 99, 99);
    cursor: pointer;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #FFF;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
}

.copyright i {
    color: rgb(234, 153, 153);
}

/*CSS for Small screen*/

nav .fa-solid {
    margin-top: -105px;
    display: none;
}

nav ul .fa-regular {
    margin-top: -20px;
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/kavSmall.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
        color: white;
        background-color: #262626;
        width: 270px;
    }

    .header-text p {
        color: white;
        background-color: #262626;
        width: 220px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul .fa-regular {
        font-size: 25px;
        display: block;
    }

    nav ul {
        background: rgb(234, 153, 153);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25%;
    }

    nav ul .fa-regular {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav ul li a::after {
        background: #000000;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
        margin-top: 1px;
    }

    x .about-col-1 {
        margin-bottom: 5px;
    }

    .about-col-1 img {
        margin-top: 780px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }

}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}

.la {
    text-align: left;
}

#hello_pink {
    color: rgb(234, 153, 153);
}

#smaller_text {
    font-size: 13px;
}

#text {
    margin-top: 30px;
    margin-left: 25px;
}

.resume_area a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#linkthetag {
    color: rgb(234, 153, 153);
}

.proj-titles {
    margin-left: 120px;
    margin-top: 15px;
}

.project-links {
    margin-left: 30px;
    font-size: 18px;
    display: inline;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.project-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(234, 153, 153);
    position: absolute;
    left: 0;
    bottom: -8px;
    transform: 0.5s;
}

.project-links.active-sec::after {
    width: 100%;
}

.project-contents {
    display: none;
}

.project-contents.active-proj {
    display: block;
}

.layer li {
    margin-bottom: 7px;
}

.layer h3 {
    margin-bottom: 4px;
}

#toast {
    height: 310px;
}
